.page-menu{
    padding-top:10px;
    display:flex;
    overflow-x:auto;
    gap:10px;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 10px;

}
.page-menu::-webkit-scrollbar{
    display:none;
}
a{
    font-size: smaller;
    color:black;
    text-decoration: none;
    display:inline-flex;
    background-color: #e5e5e5;
    /* height:10px; */
    /* width:100px; */
    /* border:2px solid blue; */
    height:10px;
    padding:10px;
    flex-shrink: 0;
    align-items: center;
    /* overflow-x: auto; */
    
}
.active{
    background-color: black;
    color:white;
}
