body,html{
    background-color: white;
    margin:0;
    padding:0;
    height:100%;
    display:flex;
    flex-direction: column;
}
main{
    flex:1;
    display:flex;
}
.left-section{
    display:flex;
    flex-direction: column;
gap:1px;
    /* flex:1; */
    width:15%;
    /* border:2px solid red; */
    border-right: 2px solid #f5f5f5;
}
.cont1{
    padding-bottom: 10px;
    margin:10px;
    margin-bottom: 5px;
    /* border:2px solid pink; */
    display:flex;
    flex-direction: column;
    gap:5px;
    /* border-bottom: 2px solid red; */
}
.boxes{
    height:40px;
    /* border:2px solid black; */
    background-color: #f5f5f5;
    border-radius: 5px;;
}
.center-section{
    flex:1;
    display:flex;
    flex-direction: column;
    /* border:2px solid pink; */
}
.center-cont1{
    /* border:2px solid black; */
    height:50px;
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid #e5e5e5;
}
.cont1-box1{
    /* border:2px solid red; */
    width:100px;
    margin:10px;
    display:flex;
    gap:10px;
}
.boxu{
    /* border:2px solid black; */
    width:26px;
    height:26px;
    background-color: #e5e5e5;
}
.center-cont2{
    display:flex;
    /* border:2px solid blue; */
    flex:1;
}
.card-cont{
    /* border:2px solid pink; */
    height:45%;
        margin:25px;
        width:100%;
}
.cards{
    /* border:2px solid black; */
    width:100%;
    height:40px;
    display:flex;
    gap:20px;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
}
.box{
    /* border:2px solid red; */
    height:15px;
    width:20px;
    border-radius:5px;
    background-color: #e5e5e5;
}