body,html{
    background-color: white;
    margin:0;
    padding:0;
    height:100%;
    display:flex;
    flex-direction: column;
}
main{
    flex:1;
    display:flex;
}
.left-section{
    display:flex;
    flex-direction: column;
gap:1px;
    /* flex:1; */
    width:15%;
    /* border:2px solid red; */
    border-right: 2px solid #f5f5f5;
}
.cont1{
    padding-bottom: 10px;
    margin:10px;
    margin-bottom: 5px;
    /* border:2px solid pink; */
    display:flex;
    flex-direction: column;
    gap:5px;
}
.boxes{
    height:40px;
    /* border:2px solid black; */
    background-color: #f5f5f5;
    border-radius: 5px;;
}
.center-section{
    flex:1;
    display:flex;
    flex-direction: column;
    border:2px solid pink;
}
.center-cont1{
    border:2px solid black;
    height:50px;
}
.center-cont2{
    border:2px solid blue;
    flex:1;
}