* {
  margin: 0;
  /* box-sizing: border-box; */
  /* font-family: system-ui, sans-serif; */
}

body {
  background: #f3f4f6;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topbar {
  height: 56px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 16px;
}

.title {
  width: 200px;
  height: 16px;
  background: #e5e5e5;
  border-radius: 6px;
}

.spacer {
  flex: 1;
}

.avatars {
  display: flex;
}

.avatars span {
  width: 32px;
  height: 32px;
  background: #d4d4d4;
  border-radius: 50%;
  opacity: 0.9;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
  margin-left: -0.4rem;
  border: 2px solid #fff;
   background: linear-gradient(145deg, #eeeeee, #cfcfcf);
}

.filter {
  width: 96px;
  height: 32px;
  background: #f0f0f0;
  border-radius: 6px;
}

.board {
  flex: 1;
  display: flex;
  gap: 16px;
  padding: 16px;
  overflow-x: auto;
}

.column {
  width: 280px;
  background: #e5e7eb;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.column-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.column-title {
  width: 120px;
  height: 14px;
  background: #cbd5e1;
  border-radius: 6px;
}

.column-action {
  width: 20px;
  height: 14px;
  background: #cbd5e1;
  border-radius: 4px;
}


.cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.line {
  height: 14px;
  background: #e5e7eb;
  border-radius: 6px;
}

.line.short {
  width: 70%;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.tag {
  width: 48px;
  height: 18px;
  background: #e5e7eb;
  border-radius: 6px;
}

.avatar.small {
  width: 24px;
  height: 24px;
  background: #d4d4d4;
  border-radius: 50%;
}


.add-card {
  height: 32px;
  background: #d1d5db;
  border-radius: 6px;
  margin-top: 12px;
}