body{
    background-color: white;
    padding:0;
    margin:0;
}
 header{
    height:50px;
    /* width:100%; */
    background-color: black;
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    padding-left:20px;
    padding-right: 25px;

}
.header-cont1{
    /* border:2px solid red; */
    display: flex;
    gap:10px;
}
.header-box{
    height:23px;
    width:80px;
     background-color: #262626;
    border-radius: 5px;

}
.live-scorecard{
    /* padding-top:10px; */
    height:120px;
    /* border:2px solid red; */
    background-color: #262626;
    justify-content: center;
    display:flex;
    gap:10px;
    align-items: center;
}
.cont1{
    /* padding-top:10px; */
    height:50px;
    width:60px;
    background-color: #525252;
    border-radius: 5px;
}
.cont3{
    /* border:2px solid red; */
    height:100%;
    width:23%;
    display:flex;
    flex-direction: column;
    gap:7px;
    justify-content: center;
    align-items: center;
padding-top: 10px;
/* padding-bottom: 10px; */

}
main{
    /* border:2px solid blue; */
    /* height:100vh; */
    display:flex;

}
.right-section{
    display:flex;
    flex-direction: column;
    width:20%;
    height:100vh;
    /* border:2px solid green; */
    padding:20px;
    gap:10px;
}
.left-section{
    width:80%;
    border-right: 1px solid #e4e4e4;
    /* border:2px solid purple; */
}
.options{
    padding-left:10px;
    display:flex;
    gap:10px;
    height:50px;
    /* border:2px solid orange; */
    align-items: center;
    margin:10px;
    border-bottom: 2px solid #d4d4d4;
}
.option-box{
    height:30px;
    width:90px;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.full-scorecard{
    border:2px solid #e4e4e4;
    height:234px;
    border-radius: 5px;
    /* padding:5px; */
    margin:10px;
    /* border-bottom: 0px; */
    padding-bottom: 0;

}
.score-row{
    padding:4px;
    height:30px;
    /* border:2px solid red; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #f5f5f5;
}

.row-left{
    border-radius: 5px;
    /* border:2px solid blue; */
    height:20px;
    width:15%;
    background-color: #d4d4d4;
}
.row-right{
    display:flex;
    width:20%;
    /* border:2px solid green; */
    height:20px;
    gap:15px;
    align-items: center;
    justify-content: center;
}
.row-right-button{
    height:15px;
    width:50px;
    border-radius: 5px;
    background-color: #f5f5f5;

}

/* //right section  */
.right-button{
    border-radius: 5px;
    width:100px;
    height:25px;
    /* border:2px solid blue; */
    background-color: #e5e5e5;
}
.right-box{
    background-color: #f5f5f5;
    border-radius: 7px;
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:5px;
    height:60px;
    width:100%;
    /* border:2px solid blue; */
}
.right-box-first{
    gap:10px;
    display: flex;
    margin:5px;
    margin-bottom:0px;
    /* border:2px solid red; */
    height:20px;
}
.right-box-second{
    border-radius: 5px;
    /* border:2px solid green; */
    margin-left: 5px;
    margin-bottom: 5px;
    height:20px;
    width:95%;
    background-color: #e5e5e5;
}