/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    gap: 20px;
}

.logo-box {
    width: 90px;
    height: 30px;
    background-color: #e0e0e0;
}

.search-input-box {
    height: 44px;
    flex-grow: 1;
    max-width: 600px;
    background-color: #f1f3f4;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto; 
}

.icon-square {
    width: 24px;
    height: 24px;
    background-color: #999;
    border-radius: 4px;
}

.icon-circle {
    width: 32px;
    height: 32px;
    background-color: #999;
    border-radius: 50%;
}

.tabs-container {
    display: flex;
    gap: 20px;
    margin-left: 150px;
    padding: 15px 0;
}

.tab {
    width: 60px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.active-tab {
    background-color: black;
}

.separator {
    border: none;
    border-top: 1px solid #ebebeb;
}

.pagination-bar {
    width: 200px;
    height: 15px;
    background-color: #f0f0f0;
    margin-left: 150px; 
    margin-top: 20px;
    margin-bottom: 30px; 
    border-radius: 8px;
}


.result-item {
    margin-left: 150px;
    margin-bottom: 40px; 
    max-width: 600px;
}

.res-breadcrumb {
    width: 140px;
    height: 8px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 4px;
}

.res-title {
    width: 320px;
    height: 20px;
    background-color: #4285f4;
    margin-bottom: 12px;
    border-radius: 10px;
}

.line {
    width: 100%;
    height: 10px;
    background-color: #f8f9fa;
    margin-bottom: 6px;
    border-radius: 5px;
}