body{
    background-color: white;
    padding:0;
    margin:0;
    height:100vh;
}
main{
    display:flex;
    height:100%;

}
.left-section{
    /* height:1000vh; */
    /* height:100%; */
    width:15%;
    /* border:2px solid blue; */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    padding-top:10px;
    border-right:2px solid #f5f5f5;
    /* height:30px; */
}
.box{
    width:85%;
    /* border:2px solid red; */
    height:35px;
    display:flex;
    /* justify-content: center; */
    align-items:center;
    padding-left:10px;
    border-radius: 5px;
}
.inner-box{
    /* border:2px solid black; */
    height:18px;
    width:50%;
    border-radius: 5px;
    background-color: #d4d4d4;
}
.right-section{
    width:85%;
    display:flex;
    flex-direction: column;


}
.cont1{
    margin:20px;
    /* border:2px solid blue; */
    border-bottom: 2px solid #f5f5f5;
    /* padding-bottom:5px; */
}
.cont2{
    /* margin-top:5px; */
    /* border:2px solid red; */
    width:700px;
    height:140px;
    padding:10px;
    border-bottom: 2px solid #f5f5f5;
}
.cont2-box2{
    display:flex;
    justify-content: space-between;
    /* border:2px solid red; */
    height:50px;
    /* width:49%; */
}
.cont2-box2-left{
    margin-left:7px;
    display:flex;
    flex-direction: column;
    gap:5px;
    /* border:2px solid blue; */
    width:230px;
    height:50px;
}
.cont2-box2-right{
    margin-top:5px;
    /* border:2px solid black; */
    width:250px;
    height:40px;
    background-color: #f5f5f5;
}
.cont2-box2-right-2{
    margin-top:5px;
    /* border:2px solid black; */
    border-radius:10px;
    width:43px;
    height:20px;
    background-color: #d4d4d4;
}
.cont4{
    display:flex;
    /* flex-direction: flex-end; */
    justify-content: flex-end;
    align-items: center;
    gap:15px;
    width:700px;
    /* border:2px solid blue; */
    height:70px;
}
.cont4-box{
    height:35px;
    width:100px;
    /* border:2px solid red; */

}