body{
    background-color: white;
    padding:0;
    margin:0;
}
main{
    display:flex;

}
.left-section{
    width:15%;
    border:2px solid blue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-top:10px;
    /* height:30px; */
}
.box{
    width:85%;
    /* border:2px solid red; */
    height:35px;
    display:flex;
    /* justify-content: center; */
    align-items:center;
    padding-left:10px;
    border-radius: 5px;
}
.inner-box{
    /* border:2px solid black; */
    height:18px;
    width:50%;
    border-radius: 5px;
    background-color: #d4d4d4;
}
.right-section{
    width:85%;
    display:flex;
    flex-direction: column;


}
.cont1{
    margin:20px;
}
.cont2{
    border:2px solid red;
    height:200px;
}