html, body {
    width: 99.7%;
    height: 99.7%;
    padding: 0;
    margin: 0;
}

/* body{
    border: 5px solid red;
} */

.outer-main-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid lightgrey;
    /* flex-direction: ; */
}

.navbar{
    border: 1px solid lightgrey;
    /* flex: 1; */
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.inside-navbar{
    /* border: 1px solid green; */
    border: 1px solid lightgrey;
    background-color: lightgrey;
    height: 50%;
    display: flex;
    margin-top: 18px;
}

.navbar-1{
    margin-left: 20px;
    width: 200px;
    border-radius: 8px;
    background-color: black;
}

.navbar-2{
    /* margin-left: 20px; */
    width: 400px;
    border-radius: 20px
}

.navbar-3{
    margin-right: 20px;
    width: 50px;
    border-radius: 25px;
}

.bodybar{
    /* border: 2px solid red; */
    border: 1px solid lightgrey;
    height: 1150px;
    display: flex;
}

.sidebar{
    flex: 1;
    /* border: 2px solid green; */
    border: 1px solid lightgrey;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.inside-sidebar{
    /* border: 2px solid brown; */
    /* border: 1px solid lightgrey; */
    /* margin: 2px; */
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.sidebar-1{
    height: 100px;
    margin-top: 20px;
    
}

.sidebar-1-1{
    flex: 1;
    /* border: 2px solid yellow; */
    border: 1px solid rgb(196, 194, 194);
    background-color: rgb(196, 194, 194);
    margin: 1px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 60px;
}

.sidebar-1-2{
    flex: 2;
    /* border: 2px solid yellow; */
    border: 1px solid rgb(242, 241, 241);
    background-color: rgb(242, 241, 241);
    margin: 1px;
    margin-top: 10px;
    border-radius: 5px;
}

.sidebar-2{
    /* flex: 1; */
    height: 50px;
}

.sidebar-2-1{
    flex: 2;
    border: 2px solid rgb(196,194,194);
    background-color: rgb(196,194,194);
    margin: 1px;
    /* margin-bottom: 15px; */
    border-radius: 5px;
    width: 60px;
}

.sidebar-2-2{
    flex: 1;
    /* border: 2px solid yellow; */
    border: 1px solid rgb(242, 241, 241);
    background-color: rgb(242, 241, 241);
    margin: 1px;
    /* margin-top: 10px; */
    border-radius: 5px;
}

.sidebar-3{
    height: 100px;
}

.sidebar-3-1{
    flex: 1;
    border: 2px solid rgb(196,194,194);
    background-color: rgb(196,194,194);
    margin: 1px;
    /* margin-bottom: 15px; */
    border-radius: 5px;
    width: 60px;
}

.sidebar-3-2{
    flex: 1;
    /* border: 2px solid yellow; */
    border: 1px solid rgb(242, 241, 241);
    background-color: rgb(242, 241, 241);
    margin: 1px;
    /* margin-top: 10px; */
    border-radius: 5px;
}

.sidebar-3-3{
    flex: 1;
    /* border: 2px solid yellow; */
    border: 1px solid rgb(242, 241, 241);
    background-color: rgb(242, 241, 241);
    margin: 1px;
    /* margin-bottom: 15px; */
    border-radius: 5px;
    /* width: 60px; */
}

.sidebar-3-4{
    flex: 1;
    /* border: 2px solid yellow; */
    border: 1px solid rgb(242, 241, 241);
    background-color: rgb(242, 241, 241);
    margin: 1px;
    /* margin-top: 10px; */
    border-radius: 5px;
}

.sidebar-4{
    height: 100px;
}

.sidebar-4-1{
    flex: 1;
    border: 2px solid rgb(196,194,194);
    background-color: rgb(196,194,194);
    margin: 1px;
    /* margin-bottom: 15px; */
    border-radius: 5px;
    width: 60px;
}

.sidebar-4-2{
    flex: 1;
    /* border: 2px solid yellow; */
    border: 1px solid rgb(242, 241, 241);
    background-color: rgb(242, 241, 241);
    margin: 1px;
    /* margin-top: 10px; */
    border-radius: 5px;
}

.sidebar-4-3{
    flex: 1;
    /* border: 2px solid yellow; */
    border: 1px solid rgb(242, 241, 241);
    background-color: rgb(242, 241, 241);
    margin: 1px;
    /* margin-bottom: 15px; */
    border-radius: 5px;
    /* width: 60px; */
}

.mainbody{
    flex:7;
    /* border: 2px solid green; */
    margin: 2px;
    display: flex;
    flex-direction: column;
    margin: 20px; 
}

.mainbody-up{
    /* border: 2px solid red; */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainbody-up-1{
    border: 2px solid lightgrey;
    background-color: lightgrey;
    border-radius: 5px;
    height: 40%;
    width: 250px;
}

.mainbody-up-2{
    border: 2px solid lightgrey;
    background-color: lightgrey;
    border-radius: 5px;
    height: 40%;
    width: 150px;
    
}

.mainbody-down{
    /* border: 2px solid red; */
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 16px;
    
}

.grid-element{
    /* border: 2px solid blue; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 247, 247);
}

.grid-element-child{
    flex: 1;
    
}

.grid-element-child-1{
    border-bottom: 1px solid rgb(210, 208, 208);
    background-color: rgb(210, 208, 208);
}

.grid-element-child-2{
    display: flex;
    flex-direction: column;
    margin: 15px;
    
}

.grid-child-2-1{
    border: 1px solid lightgrey;
    background-color: lightgrey;
    height: 25px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 5px;
}

.grid-child-2-2{
    /* border: 1px solid yellow; */
    height: 20px;
    margin-bottom: 15px;
    width: 60%;
    border: 1px solid lightgrey;
    background-color: lightgrey;
    border-radius: 5px;
}

.grid-child-2-3{
    border: 1px solid yellow;
    height: 35px;
    width: 40%;
    border: 1px solid rgb(180, 179, 179);
    background-color: rgb(180, 179, 179);
    border-radius: 5px;
}